<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting Name="RealOnePageCheckoutSettings.EnableRealOnePageCheckout">
    <Value>true</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.DisableShoppingCart">
    <Value>true</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.PreselectLastBillingAddress">
    <Value>false</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.PreselectLastShippingAddress">
    <Value>false</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.EnableShipToSameAddress">
    <Value>false</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.DefaultBillingCountryId">
    <Value>false</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.DefaultShippingCountryId">
    <Value>false</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.FlyoutCartPanelSelector">
    <Value>#flyout-cart</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.ShoppingCartMenuLinkSelector">
    <Value>span.cart-qty</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.AjaxUpdateOrderTotalOnPaymentMethodsUpdate">
    <Value>true</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.AjaxUpdateOrderTotalOnShippingMethodsUpdate">
    <Value>true</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.AjaxUpdateShippingMethodsOnCartUpdate">
    <Value>true</Value>
  </Setting>

  <Setting Name="RealOnePageCheckoutSettings.ShowEstimateShipping">
    <Value>false</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.ShowDiscountBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.ShowGiftCardBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.PersistedBillingAddressFields">
    <Value>CountryId,StateProvinceId,ZipPostalCode</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.PersistedShippingAddressFields">
    <Value>CountryId,StateProvinceId,City,ZipPostalCode</Value>
  </Setting>

  <Setting Name="RealOnePageCheckoutSettings.AjaxUpdatePaymentMethodsOnAddressFieldsUpdate">
    <Value>CountryId</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.AjaxUpdateShippingMethodsOnAddressFieldsUpdate">
    <Value>CountryId,StateProvinceId,City,ZipPostalCode</Value>
  </Setting>
  <Setting Name="RealOnePageCheckoutSettings.AjaxUpdateOrderTotalBasedOnTaxAddressOnAddressFieldsChange">
    <Value></Value>
  </Setting>

  <Setting Name="RealOnePageCheckoutSettings.UpdateOrderSummaryOnOrderTotalUpdate">
    <Value>False</Value>
  </Setting>
</Settings>