@model RealOnePageCheckoutSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="EnableRealOnePageCheckout_OverrideForStore" asp-input="EnableRealOnePageCheckout" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EnableRealOnePageCheckout" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableRealOnePageCheckout" />
            <span asp-validation-for="EnableRealOnePageCheckout"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DisableShoppingCart_OverrideForStore" asp-input="DisableShoppingCart" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisableShoppingCart" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisableShoppingCart" />
            <span asp-validation-for="DisableShoppingCart"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="PreselectDefaultAddress_OverrideForStore" asp-input="PreselectDefaultAddress" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PreselectDefaultAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PreselectDefaultAddress" />
            <span asp-validation-for="PreselectDefaultAddress"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="PreselectLastBillingAddress_OverrideForStore" asp-input="PreselectLastBillingAddress" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PreselectLastBillingAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PreselectLastBillingAddress" />
            <span asp-validation-for="PreselectLastBillingAddress"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="PreselectLastShippingAddress_OverrideForStore" asp-input="PreselectLastShippingAddress" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PreselectLastShippingAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PreselectLastShippingAddress" />
            <span asp-validation-for="PreselectLastShippingAddress"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="EnableShipToSameAddress_OverrideForStore" asp-input="EnableShipToSameAddress" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EnableShipToSameAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableShipToSameAddress" />
            <span asp-validation-for="EnableShipToSameAddress"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DefaultBillingCountryId_OverrideForStore" asp-input="DefaultBillingCountryId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DefaultBillingCountryId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="DefaultBillingCountryId" asp-items="ViewBag.BillingCountries as IList<SelectListItem>" />
            <span asp-validation-for="DefaultBillingCountryId"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DefaultShippingCountryId_OverrideForStore" asp-input="DefaultShippingCountryId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DefaultShippingCountryId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="DefaultShippingCountryId" asp-items="ViewBag.ShippingCountries as IList<SelectListItem>" />
            <span asp-validation-for="DefaultShippingCountryId"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="FlyoutCartPanelSelector_OverrideForStore" asp-input="FlyoutCartPanelSelector" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="FlyoutCartPanelSelector" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="FlyoutCartPanelSelector" />
            <span asp-validation-for="FlyoutCartPanelSelector"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="ShoppingCartMenuLinkSelector_OverrideForStore" asp-input="ShoppingCartMenuLinkSelector" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShoppingCartMenuLinkSelector" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShoppingCartMenuLinkSelector" />
            <span asp-validation-for="ShoppingCartMenuLinkSelector"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="ShowEstimateShipping_OverrideForStore" asp-input="ShowEstimateShipping" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShowEstimateShipping" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShowEstimateShipping" />
            <span asp-validation-for="ShowEstimateShipping"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="ShowDiscountBox_OverrideForStore" asp-input="ShowDiscountBox" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShowDiscountBox" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShowDiscountBox" />
            <span asp-validation-for="ShowDiscountBox"></span>
        </div>
    </div>
    <div class="form-group row pluginSettings">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="ShowGiftCardBox_OverrideForStore" asp-input="ShowGiftCardBox" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShowGiftCardBox" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShowGiftCardBox" />
            <span asp-validation-for="ShowGiftCardBox"></span>
        </div>
    </div>
</div>