@model string

@{
    //On the initial load we want only the main loader to be active, so we disable the the overlays of the other panels.
    var displayNoneText = string.Empty;

    if (Model != "confirm-order-loader")
    {
        displayNoneText = "display:none;";
    }
}

<div class="panel-loader-effect @Model" style="@displayNoneText" >
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>